.item {
    cursor: pointer;
    color: #364844;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    margin-bottom: 10px;

    @media (min-width: 770px) {
        padding: 40px;
        margin-bottom: 0px;

    }

    .item_title {
        font-size: 22x;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 14px;

        @media (min-width: 770px) {
            margin-bottom: 16px;
        }

    }

    .item_click {
        display: none;
        position: absolute;
        right: 40px;
        width: 24px;
        height: 24PX;

        span,
        span::after {
            height: 2px;
            background-color: #0DBC91;
            width: 100%;
            display: block;
            content: '';
            transition: all 0.2s ease-in-out;

        }

        span::after {
            transform: rotate(90deg);
        }

        @media (min-width: 770px) {
            display: block;
        }
    }

    .item_click_active {
        span::after {
            transform: rotate(0deg);

        }
    }

}



.item_answer {

    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;

    @media (min-width: 770px) {
        z-index: -1;
        opacity: 0;
        height: 0;

    }

    .item_answer_text {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.item_answer_active {
    z-index: 1;
    height: auto;
    opacity: 1;

}